<!DOCTYPE html>
<html lang="en">
<head>
  <title>Contact us Form</title>
   <link rel="stylesheet" type="text/css" href="stylesheets/style1.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
</head>
<body>
  <div class="form ">
    <div class="hedding-title">
      <h1>Post free add</h1><br>
    </div>
    
    <div class="form-input">
      <form>
        Product / service provider
        <select>
<option>Electronics</option>
<option>Mobiles</option>
<option>Home appliances</option>
<option>Vehicles</option>
<option>Books,Sports</option>
<option>Engineering stationery</option>
<option>Services</option>
<option>Accessories</option>

</select><br>
        <br>
        Price<br>
        <input type="text" placeholder="Price of the product"></br>
        Location<br>
        <input type="text" placeholder="Location"></br>
        Phone number<br>
        <input type="text" placeholder="phone number"></br>
        Email<br>
        <input type="Email" placeholder="Email"></br>
        condition<br>
        <input type="text" placeholder="condition of the product"></br>
        About  service /product,model and usage<br>
        <textarea rows="4" placeholder="Message.." required></textarea>
        Upload the image 
        <input type="file">
        <button class="button">Send Message</button>
      </form> 
    </div>
  </div>
</body>
</html>