<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update details</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
     <!--  navbar start -->
     <nav class="navbar navbar-expand-lg navbar-light bg-warning fixed-top">
        <a class="navbar-brand" href="/">
          <img src="./images/logo1.png" height="50px" alt="">
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0 mx-auto search-bar" action="/search" method="POST" >
        <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0" type="submit" value="search">Search</button>
      </form>
      <ul class="navbar-nav custom-navbar">
        <li class="nav-item active bg-success rounded-pill px-3 m-1 text-center">
          <a class="nav-link text-white" href="/"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item rounded-pill bg-success px-3 m-1 text-center">
          <a class="nav-link text-white" href="/signup"><i class="fa fa-sign-in"></i> Login/Signup</a>
        </li>
      </ul>
    </div>
  </nav>
<!--  navbar end -->
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-12 border border-dark p-3">
                <form method="POST" action="/updatepassword">
                    <h1 class="text-center">Enter your new password</h1>
                      <input type="hidden" name="email" class="form-control" id="email" value="<%= email%>" >
                    <div class="form-group">
                        <label for="password">enter passoword</label>
                        <input type="password" name="password" class="form-control" id="password" required>
                      </div>
                      <div class="form-group">
                        <label for="cpassword">confirm new password</label>
                        <input type="password" name="cpassword" class="form-control" id="cpassword" required>
                      </div>
                      <p class="text-danger"><%= error%></p>
                    <input type="submit" class="btn btn-secondary mt-3 btn-block" value="update password">
                  </form>
            </div>
        </div>
    </div>
    <footer class="footer my-5">
      <div class="container">
        <div class="text-muted text-center">© copy rights reserved @2020 DEALUP</div>
      </div>
    </footer>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/font.js"></script>
    <script>
      // Add the following code if you want the name of the file appear on select
      $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
      });
      </script>
</body>
</html>