<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="offset-lg-4 col-lg-4 col-sm-6 col-12 main-section text-center">
          <div class="row">
              <div class="col-lg-12 col-sm-12 col-12 profile-header"></div>
          </div>
          <div class="row user-detail">
              <div class="col-lg-12 col-sm-12 col-12">
                  <img src="images/icon.png" class="rounded-circle img-thumbnail">
                  <h4><b>Srikanth</b></h4><br>
                  <p>Email :srikanthammigo@gmail.com</p>
                  <p>phone :8919457645</p>
                  <p><i class="fa fa-map-marker" aria-hidden="true"></i> Kakinada</p>

                  <hr>
                  <a href="#" class="btn btn-danger btn-sm">Logout</a>
                  <a href="#" class="btn btn-dark btn-sm">Edit profile</a>
                 
                  
              </div>
          </div>
         
      </div>
    </div>
  </div>
</body>
</html>