<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy and Sell</title>
	<link rel="stylesheet" type="text/css" href="./css/style1.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
        <!--  navbar start -->
        <nav class="navbar navbar-expand-lg navbar-light bg-warning fixed-top">
            <a class="navbar-brand" href="/">
              <img src="./images/logo1.png" height="50px" alt="">
            </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="form-inline my-2 my-lg-0 mx-auto search-bar" action="/search" method="POST" >
            <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit" value="search">Search</button>
          </form>
          <ul class="navbar-nav custom-navbar">
            <li class="nav-item active bg-success rounded-pill px-3 m-1 text-center">
              <a class="nav-link text-white" href="/"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item rounded-pill bg-success px-3 m-1 text-center">
              <a class="nav-link text-white" href="/signup"><i class="fa fa-sign-in"></i> Login/Signup</a>
            </li>
          </ul>
        </div>
      </nav>
    <!--  navbar end -->
        <div class="one">
        	<div class="two">
        		<div id="btn"></div>
        		<button class="three" onclick="Login()">Login</button>
        		<button class="three" onclick="Signup()">Signup</button>
            </div>
                <center>
                  <form id="first" class="input" action="/login" method="POST">
                      <p> <input type="email" name="email" class="input1" placeholder="email.." required></p>
                      <p>  <input type="password" name="password" class="input1" placeholder="password.." required></p>
                      <span> <p><a href="#">Forgot password</a></p><span>
                      <input type="submit" class="submit" value="Login">
                  </form>
                </center>
                <center>
                  <form id="second" class="input" action="/signup" method="POST" enctype="multipart/form-data">
                      <p> <input type="tel" name="phone"  class="input1" placeholder="Mobile Number..." required></%>
                      <p> <input type="text" name="name" class="input1" placeholder="Name...Ex:john" required></p>
                      <p> <input type="email" name="email" class="input1" placeholder="Email.." required></p>
                      <p>  <input type="password" name="password" class="input1" placeholder="password" required></p>
                      <label for="photo">Profile Image</label>
                      <p> <input type="file" name="photo" id="photo" required></p>
                      <input type="submit" class="submit" value="signup">
                  </form>
                </center>
        	</div>
                 </div>
                 <footer class="footer mb-5">
                  <div class="container">
                    <div class="text-muted text-center">copy rights reserved @ 2020</div>
                  </div>
                </footer>
                    <script src="./js/jquery.min.js"></script>
                    <script src="./js/bootstrap.min.js"></script>
                    <script src="./js/font.js"></script>
                  <script>
	               var x = document.getElementById("first");
	               var y = document.getElementById("second");
	               var z = document.getElementById("btn");

	               function Signup(){
	                       	x.style.left="-400px";
	  	                    y.style.left="50px";
	  	                    z.style.left="110px";
	                }
	                 function Login(){
	                       	x.style.left="50px";
	  	                    y.style.left="450px";
	  	                    z.style.left="0px";
                  }
                  if("<%= error %>"  !== "false"){
                    alert("<%= error %>")
                  }
                   </script>
 </body>
</html>